@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  background: #050505;
  color: white;
  height: 100%;
}
.input {
  @apply w-full px-4 py-3 rounded-xl
  bg-white/5 border border-white/10
  text-white placeholder-white/40
  focus:outline-none focus:ring-2 focus:ring-white/20;
}
